.ch-codegroup {
  @apply rounded-lg shadow-xl ring-1 ring-inset ring-white ring-opacity-10;
  @apply bg-slate-900/70 backdrop-blur;
  @apply w-full;
}

.ch-code-scroll-parent {
  @apply font-mono leading-6;
}

.ch-frame-buttons {
  @apply h-auto;
}

.ch-frame-button {
  @apply h-2.5 w-2.5 rounded-full border-none bg-slate-600;
}

.ch-editor-tab {
  @apply hidden;
}

.ch-frame-title-bar {
  @apply border-b border-slate-500/30;
}

.ch-editor-frame,
.ch-frame-title-bar,
.ch-code-wrapper {
  @apply bg-transparent !important;
}

/* header section */

.ch-slideshow {
  @apply m-0;
}

.ch-slideshow-notes {
  @apply hidden;
}

.ch-slideshow-slide {
  @apply mx-auto mt-20 block max-w-7xl px-4 sm:mt-24 sm:px-6 md:px-8 lg:mt-32 lg:grid lg:grid-cols-12 lg:items-center lg:gap-8;
}

.ch-slideshow-slide .ch-codegroup {
  @apply relative col-span-7 col-start-6 row-start-1 m-0 xl:col-span-6 xl:col-start-7;
}

.ch-slideshow-slide .ch-preview {
  @apply relative col-span-5 col-start-1 row-start-1 -mt-10 xl:col-span-6;
  @apply shadow-none;
}

/* modern-features section */

.ch-spotlight {
  @apply h-auto flex-col gap-20;
}

.ch-spotlight-tabs {
  @apply flex-row;
}

.ch-spotlight-sticker {
  max-height: none !important;
  @apply static h-auto w-full  !important;
  @apply mx-auto max-w-7xl flex-col-reverse px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12 lg:gap-8 !important;
}

.ch-spotlight-preview {
  @apply overflow-visible shadow-none lg:h-auto !important;
  @apply col-start-1 row-start-1 flex flex-col lg:col-span-5 xl:col-span-6;
}

.ch-spotlight .ch-codegroup {
  max-height: none !important;
  @apply z-10 row-start-1 -mx-4 mt-4 sm:mx-0 lg:col-span-7 lg:col-start-6 lg:mt-0 xl:col-span-6 xl:col-start-7;
}

.ch-spotlight-tabs {
  @apply flex gap-x-2 sm:px-0 xl:gap-x-6;
  @apply mx-auto mt-6 w-full max-w-7xl gap-12 px-8;
}

.ch-spotlight-tabs > :first-child {
  @apply hidden;
}

.ch-spotlight-tab {
  @apply m-0 border-none p-0;
}

.ch-spotlight-tab[data-selected='true'] button {
  @apply text-indigo-400;
}

.ch-spotlight-tab[data-selected='true'] svg {
  @apply text-indigo-400 !important;
}

/* state-variants section */

.state-variants .ch-codegroup {
  @apply -mx-4 mt-4 sm:mx-0 lg:col-span-7 lg:mt-0 xl:col-span-6;
}

.ch-section {
  @apply mx-auto max-w-7xl px-4 sm:px-6 md:px-8 lg:grid lg:grid-cols-12 lg:gap-8;
}

.ch-section-link,
.ch-section-link * {
  text-decoration: none !important;
}

/* not-components section */

.not-components .ch-codegroup {
  @apply -mx-4 mt-4 sm:mx-0 lg:col-span-7 lg:row-end-2 lg:mt-0 xl:col-span-6 xl:row-span-2 xl:mt-16;
}

.not-components .ch-editor-tab {
  @apply flex;
}
