@font-face {
  font-family: 'Nure Display';
  font-weight: 100 400;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/aasgard-fonts/Nure-VF.woff2') format('woff2');
}
@font-face {
  font-family: 'Nure Text';
  font-weight: 100 300;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/aasgard-fonts/Nure-VF.woff2') format('woff2');
}
@font-face {
  font-family: 'Nure Stylistic';
  font-weight: 100 400;
  font-display: block;
  font-style: normal;
  font-feature-settings: 'dlig', 'liga', 'clig', 'calt';
  font-named-instance: 'Regular';
  src: url('/fonts/aasgard-fonts/Nure-VF.woff2') format('woff2');
}
@font-face {
  font-family: 'PragmataPro Mono';
  font-display: block;
  font-style: mono;
  font-named-instance: 'Mono';
  font-feature-settings: 'calt' 1, 'liga' 1;
  src: url('/fonts/aasgard-fonts/PragmataProRLiga.woff2') format('woff2');
}
